#Desktop{
    background-image: url("../Images/lock.jpg");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 100%;
	background-repeat: no-repeat;
}

#LocksCreen{
    background-image: url("../Images/lock.jpg");
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: 100%;
	background-repeat: no-repeat;
}

#container{
    background: rgba(34,34,34,0.45);
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    margin-top: 10%;
    box-shadow: 0 0 55px transparent;
}
#container > #password-field{
    position: relative;
    text-align: center;
    margin: 30px;
}

#profile-pic{
    background-image: url("https://content.halocdn.com/media/Default/games/halo-4/page/halo-4-square-542x542-5f6a1dbe533c498da85ab81c94b5b09d.jpg");
    background-size: 100%;
	background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 500px;
    
}

#password{
    width: 25%;
    height: 40px;
    font-size: 35px;
    text-align: center;
}

#login{
    border: none;
    background-color: transparent;
    color: white;
    width: 50px;
    height: 50px;
}

#login > #unlock-img{
    width: 40px;
    height: 40px;
}

#userName{
    color: white;
    font-size: 40px;
    font-family: verdana;
}

#TaskBar{
	background-image: url(../Images/lock_blur.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
    position: fixed;    
    width: 100%;
    height: auto;
    bottom: 0;
}

#TaskBar > #home-btn > #home-logo{
	width: 40px;
	height: 40px;
}

#menu-div{
	background-color: rgba(237, 237, 237,0.8);
	border: solid 1px rgba(237, 237, 237,0.5);
	position: absolute;
	left: -900;
	width: 15%;
	padding: 20px;
	bottom: 3em;
}
#menu-div > ul > li{
	left : 5px;
	list-style-type: none;
	font-family: verdana;
	border: solid 1px rgb(34,34,34);
	margin-bottom: 5px;
	height: 2em;
	margin-left: -10px;
	width: 100%
}

#menu-div > ul{
	position: relative;
	margin-left: -5px;
}
