html, body {margin: 0; height: 100%; overflow: hidden}
#Desktop{
    background-image: url("../Images/desktop.jpg");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 100%;
	background-repeat: no-repeat;
}

#LocksCreen{
    background-image: url("../Images/lock.png");
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: 100%;
	background-repeat: no-repeat;
}

#container{
    background: rgba(202, 202, 202, 0.226);  
    position: absolute;
    margin: 0 auto;
    width: 80%;
    height: auto;
    left: 0;
    right: 0;
    margin-top: 5%;
    box-shadow: 0 0 55px transparent;
    border-radius: 10p  x;
}
#container > #password-field{
    position: relative;
    text-align: center;
    margin: 30px;
}

#profile-pic{
    background-image: url("../Images/logo.png");
    background-size: 100%;
	background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 500px;
    margin-top: 50px;
}

#password{
    width: 25%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    top: 0px;
}

#login{
    border: none;
    background-color: transparent;
    color: white;
    width: 50px;
    height: 50px;
}

#login > #unlock-img{
    width: 40px;
    height: 40px;
}

#userName{
    color: white;
    font-size: 40px;
    font-family: verdana;

}

#TaskBar{
	background-image: url("../Images/lock.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
    position: fixed;    
    width: 100%;
    height: auto;
    bottom: 0;
}

#TaskBar > #home-btn > #home-logo{
	width: 40px;
	height: 40px;
}

#menu-div{
	/*background-color: rgba(237, 237, 237,0.7);*/
	/*background-color: rgba(43, 43, 43,0.6);*/
	position: absolute;
	background-image: url("../Images/lock.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	left: -900;
	width: 15%;
	padding: 20px;
    bottom: 2.5em;
    border-radius: 10px;
	border: solid 0.5px rgba(202, 202, 202, 0.5);
}
#menu-div > ul > li{
	left : 5px;
	list-style-type: none;
	font-family: verdana;
	color: white;
	/*border-bottom: solid 1px rgb(34,34,34);*/
	margin-bottom: 5px;
	height: 2em;
	margin-left: -10px;
    width: 100%;
	transition: background-color 0.3s, border-radius 0.3s, text-align 0.3s, order-bottom 0.3s, color 0.3s;
	cursor: pointer;
}
#menu-div > ul >li:hover{
	background-color: rgba(224, 224, 224,0.9);
	/*rgba(237, 237, 237,0.7);*/
    /*border-bottom: solid 0.5px rgb(34, 34, 34);*/
	color: black;	
	border-radius: 5px;
	transition: ease-in-out 0.2s;
	text-align: center;
    /*border-radius: 5px;*/
    /*color: white;*/
}

#menu-div > ul{
	position: relative;
	margin-left: -5px;
}

#calculadora-container{
	position: absolute;
	background-image: url("../Images/lock.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.note{
	position: absolute;
	display: inline-block;
	width: auto;
	height: auto;
    margin: 15px;
	background-color: rgb(242, 195, 65);
	box-shadow: 0 3px 15px 0 rgb(34,34,34);
    cursor: all-scroll;
}

.note > #note-content {
	background-color: rgb(244, 223, 66);
	color: black;
	min-width: 220px;
	min-height: 130px;
	max-height: 190px;
	max-width: 300px;
}

.note > p{
	width: auto;
	text-align: center;
	font-family: verdana;
	font-size: 20px;
	height: 100%;
	margin: 0;
	padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    cursor: all-scroll;
}

.close-note{
    position: absolute;
	right: 5;
	top: 0;
	height: 25px;
	border-radius: 90px;
	border-style: none;
	background-color: rgb(226, 49, 49);
	color: white;
	text-align: center;
}

.note > p > button{
	position: absolute;
	right: 5;
	top: 0;
	height: 25px;
	border-radius: 90px;
	border-style: none;
	background-color: rgb(226, 49, 49);
	color: white;
	text-align: center;
}

.close{
	position: absolute;
	right: 5;
	top: 0;
	left: 100%;
	height: 25px;
	border-radius: 90px;
	border-style: none;
	background-color: rgb(226, 49, 49);
	color: white;
	text-align: center;
}
.addNote{
	position: absolute;
	left: 0;
	top: 0;
	height: 25px;
	border-radius: 90px;
	border-style: none;
	background-color: rgb(226, 49, 49);
	color: white;
	text-align: center;
	
}