#Desktop{
    background-image: url("../Images/desktop.jpg");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 100%;
	background-repeat: no-repeat;
}

#LocksCreen{
    background-image: url("../Images/lock.png");
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: 100%;
	background-repeat: no-repeat;
}

#container{
    background: rgba(202, 202, 202, 0.226);  
    position: absolute;
    margin: 0 auto;
    width: 80%;
    height: auto;
    left: 0;
    right: 0;
    margin-top: 5%;
    box-shadow: 0 0 55px transparent;
    border-radius: 10p  x;
}
#container > #password-field{
    position: relative;
    text-align: center;
    margin: 30px;
}

#profile-pic{
    background-image: url("../Images/logo.png");
    background-size: 100%;
	background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 500px;
    margin-top: 50px;
}

#password{
    width: 25%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    top: 0px;
}

#login{
    border: none;
    background-color: transparent;
    color: white;
    width: 50px;
    height: 50px;
}

#login > #unlock-img{
    width: 40px;
    height: 40px;
}

#userName{
    color: white;
    font-size: 40px;
    font-family: verdana;

}

#TaskBar{
	background-image: url("../Images/lock.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
    position: fixed;    
    width: 100%;
    height: auto;
    bottom: 0;
}

#TaskBar > #home-btn > #home-logo{
	width: 40px;
	height: 40px;
}

#menu-div{
	background-color: rgba(237, 237, 237,0.8);
	position: absolute;
	left: -900;
	width: 15%;
	padding: 20px;
    bottom: 3em;
    border-radius: 10px;
}
#menu-div > ul > li{
	left : 5px;
	list-style-type: none;
	font-family: verdana;
	border-bottom: solid 1px rgb(34,34,34);
	margin-bottom: 5px;
	height: 2em;
	margin-left: -10px;
    width: 100%;
	transition: background-color 1s, border-radius 1s, text-align 1s, order-bottom 1s, color 1s;
}
#menu-div > ul >li:hover{
    background-color: rgb(216, 160, 57);
    border-bottom: solid 1px rgb(158, 113, 28);
    border-radius: 5px;
    color: white;
    text-align: center;
}

#menu-div > ul{
	position: relative;
	margin-left: -5px;
}